extends layout

block content
    .container
        .row(style="padding: 15px;")
            h1 Hi #{user.nickname}
        .row
            //- img(src=#{user.picture})
            p(style="padding: 20px;") This is where you will blah blah black sheep, have you any wool...