:root {
  --page-padding: 0 20px 0 20px;
  --page-margin: 10px;
  --primary-color: rgb(243, 168, 71);
  --accent-color: rgb(35, 47, 62);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 5px;
  width: 100%;
}

.theNavbar {
  background-color: var(--primary-color);
  border-radius: 2vh 7vh;
  color: black;
  margin: 0 2vw 15px 1vw;
  mix-blend-mode: multiply;
  padding: 0 1vw 0 1vw;
  position: fixed;
  top: 10px;
  right: 0;
  width: 95vw;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}

.theNavbar.scrolled .siteTitle > h1 {
  color: transparent;
  text-shadow: none;
  opacity: 0;
}

.theNavContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  max-width: 90vw;
  margin-left: 5px;
}

.siteTitle > h1 {
  font-family: "Signika Negative", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 0.5;
  color: white;
  padding: 5px;
  border-radius: 1vw;
  text-shadow: 1px 1px 1px grey;
  transition: color 0.8s ease-in 0.2s, text-shadow 0.8s ease-in 0.2s;
}

.hamburgerMenu {
  position: fixed;
  right: 4.5vw;
}

.hamburgerMenu div {
  background-color: var(--accent-color);
  border-radius: 4px;
  height: 6px;
  margin: 4px 0;
  width: 35px;
  mix-blend-mode: normal;
  color: black;
}

.hamburgerMenu:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

#theMenu {
  /* background-color: rgb(191,212,216); */
  background-color: rgb(234, 237, 237);
  height: 100vh;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(200vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  width: 100vw;
  z-index: 1000;
}

#theMenu.show {
  transform: translate3d(20vw, 0, 0);
}

#theMenu h2 a {
  color: SlateGray;
  text-decoration: none;
  margin: 0 20px;
}

#theMenu h2 a:hover {
  text-decoration: underline;
}

.container {
  background-color: lemonchiffon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 2vw 5px 1vw;
  padding: 10px;
}

.side {
  flex: 20%;
  margin: 10px;
}

.theImage {
  background: gold;
  height: 100px;
  margin: 5px 10px 5px 0px;
  width: 100px;
}

.main {
  flex: 60%;
  margin: 10px;
}

.theTitle {
  background: grey;
  height: 30px;
  margin: 3px 2px 10px 0px;
  width: 300px;
}

.theBlurb p {
  background-color: gainsboro;
  display: inline;
  font-size: 18px;
  line-height: 1.4;
  margin: 3px 2px 2px 0px;
  padding: 0px;
  word-wrap: normal;
}

.theBlurb p::after {
  content: "I pledge allegiance to the flag, of the United States of America. And to the republic, for which it stands, one nation, under God, indivisible, with liberty and justice for all.";
}

#star-icon {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}

#star-icon:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

#star-icon:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

#category-icon {
  display: flex;
  align-items: flex-start;
}

#category-icon > div > div {
  background-color: DarkOrange;
  width: 10px;
  height: 10px;
  margin: 4px 4px 4px 0;
}

.footer {
  /* height: 90px; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(35, 47, 62);
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer [class*="footer-container"] {
  /* display: block;
    float: left; */
  background-color: yellow;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding: 0 1vw;
  margin: 1vh 3vw;
}

[id*="footer-icon"] {
  margin: 1vh;
}

[id*="footer-description"] {
  margin: 1vh;
}
